.header {
  margin: 92px 24px 92px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header__links-list {
  display: flex;
  justify-content: flex-end;
  column-gap: 35px;

  list-style-type: circle;
}

.header__links-list-item:first-child {
  list-style-type: none;
}

.header__link {
  font-size: 18px;
  line-height: 22px;
  word-spacing: .01em;
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}

.header__link_active {
  list-style-type: none;
  text-decoration: none;
  pointer-events: none;
}

.header__logo {
  margin-right: 184px;
  padding-left: 36px;
  width: 186px;
  height: 105px;
}

.header__address {
  max-width: 240px;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  text-underline-offset: 4px;
}

/* Main */

.cover {
  margin-bottom: 180px;
  min-height: 757px;
  position: relative;

  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center center;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, .6);
}

.title {
  padding: 175px 50px 110px;

  color: white;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: calc(1em * 3 / 10);
  text-transform: uppercase;
}

.title>span {
  margin-bottom: 24px;
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: calc(1em * 6 / 10);
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  padding: 0 50px 0 78px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  word-spacing: .85em;
  text-transform: uppercase;
  color: white;
}

.bet-button {
  padding: 12px 32px 11px;
  border: 1px solid white;
  background-color: transparent;

  font-family: inherit;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  color: white;
}

.lots {
  margin-bottom: 146px;
  padding: 0 24px;
}

.lots__heading {
  margin-bottom: 25px;
  padding-left: 40px;

  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.lots__card-list {
  margin-bottom: 30px;

  display: flex;
  flex-wrap: wrap;
  gap: 25px;

  list-style-type: none;
}

.card-link {
  cursor: pointer;
}

.card {
  padding: 51px 39px 48px 40px;
  width: 334px;
  min-height: 563px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: white;
}

.card_type_film {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center center;
}

.card_type_book {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center center;
}

.card_type_picture {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center center;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 4px;
}

.card__text {
  font-size: 20px;
  line-height: 24px;
  vertical-align: bottom;
}

.lots__look-more-link {
  padding-left: 40px;

  font-size: 20px;
  line-height: 24px;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.about {
  margin-bottom: 180px;
  padding: 0 24px;

  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 25px;
  grid-template-areas:
    "logo about";
}

.about__logo-column {
  margin: 0 auto;
  grid-area: logo;
}

.about__logo {
  margin-top: 37px;
  width: 240px;
  height: 240px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__about-column {
  grid-area: about;
}

.about__title {
  margin: 138px 0 100px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.about__text {
  margin-bottom: 24px;
  font-size: 20px;
  line-height: 24px;
}

.about__text:last-child {
  margin-bottom: 0;
}

/* Footer */

footer {
  margin: 88px 50px;

  display: flex;
  justify-content: space-between;
}

.footer__address {
  width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  text-underline-offset: 4px;
  letter-spacing: .01em;
}

.footer__menu-list {
  margin: 0 185px;
  display: flex;
  flex-direction: column;
  align-items: center;

  list-style-type: none;
  font-size: 18px;
  line-height: 21px;
  text-underline-offset: 5px;
}

.footer__menu-link {
  text-decoration: underline;
  cursor: pointer;
}

.footer__menu-link_active {
  text-decoration: none;
  pointer-events: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  column-gap: 48px;

  list-style-type: none;
  font-size: 0;
}

.footer__social-link {
  cursor: pointer;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}