header {
  margin: 96px 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  line-height: 24px;
}

.header__links-list {
  display: flex;
  column-gap: 30px;

  list-style-type: circle;
}

.header__links-list-item:first-child {
  list-style-type: none;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}

.header__link_active {
  list-style-type: none;
  text-decoration: none;
  pointer-events: none;
}

.header__logo {
  margin-right: 184px;
  padding-left: 36px;
  width: 148px;
  height: 105px;
}

.header__address {
  width: 240px;
  font-style: normal;
  text-underline-offset: 4px;
}

/* Main */

.cover {
  margin-bottom: 180px;
  height: 757px;
  position: relative;
  font-size: 0;
}

.cover__image {
  object-fit: cover;
  height: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, .6);
}

.title {
  position: absolute;
  inset: 165px 50px 240px;
  z-index: 1;

  color: white;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: calc(1em * 3 / 10);
  text-transform: uppercase;
}

.aligned-text {
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: calc(1em * 6 / 10);
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  right: 50px;
  bottom: 51px;
  left: 80px;
  z-index: 1;

  font-size: 22px;
  line-height: 28px;
  word-spacing: calc(1em * 9 / 10);
  text-transform: uppercase;
  color: white;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid white;
  background-color: transparent;

  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
  color: inherit;
}

.lots {
  margin-bottom: 146px;
  padding: 0 24px;
}

.lots__heading {
  margin-bottom: 30px;
  padding-left: 40px;

  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.lots__card-list {
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;

  list-style-type: none;
}

.card-link {
  cursor: pointer;
}

.card {
  width: 334px;
  height: 564px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;
}

.card_type_film {
  object-fit: cover;
  height: 100%;
}

.card__container {
  padding: 40px;

  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: white;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 4px;
}

.card__text {
  font-size: 20px;
  line-height: 24px;
}

.lots__look-more-link {
  padding-left: 40px;

  font-size: 20px;
  line-height: 24px;
  text-decoration: underline;
}

.about {
  margin-bottom: 180px;
  padding: 0 24px;

  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 30px;
  grid-template-areas:
    "logo about";
}

.about__logo-column {
  margin: 0 auto;
  grid-area: logo;
}

.about__logo {
  margin-top: 35px;
  width: 240px;
  height: 240px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__about-column {
  grid-area: about;
}

.about__title {
  margin: 140px 0 100px;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1%;
}

/* Footer */

footer {
  margin: 88px 50px;

  display: flex;
  justify-content: space-between;
}

.footer__menu-list {
  margin: 0 185px;
  display: flex;
  flex-direction: column;
  align-items: center;

  list-style-type: none;
  font-size: 18px;
  line-height: 22px;
}

.footer__menu-link {
  text-decoration: underline;
  cursor: pointer;
}

.footer__menu-link_active {
  text-decoration: none;
  pointer-events: none;
}

.footer__social-list {
  display: flex;
  justify-content: space-between;
  column-gap: 48px;

  list-style-type: none;
  font-size: 0;
}

.footer__social-link {
  cursor: pointer;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}